@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --primary-gradient-start: hsl(236, 72%, 79%);
    --primary-gradient-end: hsl(237, 63%, 64%);

    --very-light-grayish-blue: hsl(240, 78%, 98%);
    --light-grayish-blue: hsl(234, 14%, 74%);
    --grayish-blue: hsl(233, 13%, 49%);
    --dark-grayish-blue: hsl(232, 13%, 33%);
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
a {
    text-decoration: none;
    display: block;
}
.toggle-switch {
    display: inline-block;
    position: relative;
}
.toggle-switch .toggle-input {
    visibility: hidden;
}
.toggle-switch .toggle-label {
    cursor: pointer;
    background: linear-gradient(90deg, var(--primary-gradient-start) 0%, var(--primary-gradient-end) 100%);
    width: 50px;
    height: 28px;
    position: absolute;
    top: -3px;
    left: -17px;
    border-radius: 2rem;
    transition: background-color 200ms;
}
.toggle-switch .toggle-label::before {
    content: '';
    background-color: #fff;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 4px;
    left: 3px;
    border-radius: 50%;
    transition: transform 200ms;
}
.toggle-switch .toggle-input:checked + .toggle-label::before {
    transform: translateX(22px);
}
body {
    background-color: var(--very-light-grayish-blue);
    min-height: 100vh;
    font-family: 'Montserrat';
    display: grid;
    place-content: center;
}
.component {
    text-align: center;
    position: relative;
}
img {
    position: absolute;
    z-index: 0;
}
.top-img {
    top: -200px;
    right: -190px;
}
.bottom-img {
    bottom: -145px;
    left: -200px;
}
.component .toggle-container {
    margin: 2rem auto;
    max-width: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
.component .cards-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    position: relative;
    z-index: 5;
}
.component .cards-grid .card {
    background-color: #fff;
    padding: 1.5rem;
    font-weight: 700;
}
.component .cards-grid .card:nth-child(2) {
    background: linear-gradient(120deg, var(--primary-gradient-start) 0%, var(--primary-gradient-end) 100%);
    color: var(--very-light-grayish-blue);
    padding: 3rem 1.5rem;
    border-radius: .5rem;
}
.component .cards-grid .card:nth-child(1),
.component .cards-grid .card:nth-child(3) {
    height: min-content;
}
.component .cards-grid .card h3 {
    margin-bottom: 1rem;
}
.component .cards-grid .card .cost {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .25rem;
}
.component .cards-grid .card .cost span {
    font-size: 3rem;
}
.component .cards-grid .card .benefits li {
    padding: 1rem 3rem;
    border-bottom: 1px solid var(--primary-gradient-start);
}
.component .cards-grid .card:nth-child(2) .cost {
    min-width: 285px;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--very-light-grayish-blue);
}
.component .cards-grid .card:nth-child(2) .benefits li {
    padding: 1rem 3rem;
    border-bottom: 1px solid #fff;
}
.component .cards-grid .card:nth-child(1) .cost,
.component .cards-grid .card:nth-child(3) .cost {
    padding: 1rem 3rem;
    border-bottom: 1px solid var(--primary-gradient-start);
}
.component .cards-grid .card .link-btn {
    background: linear-gradient(90deg, var(--primary-gradient-start) 0%, var(--primary-gradient-end) 100%);
    color: #fff;
    width: 100%;
    padding: .5rem;
    margin-top: 1rem;
    font-weight: 600;
    border-radius: .25rem;
}
.component .cards-grid .card .link-btn:hover {
    background: transparent;
    color: var(--primary-gradient-end);
    outline: 1px solid var(--primary-gradient-end);
}  
.component .cards-grid .card:nth-child(2) .link-btn {
    background: #fff;
    color: var(--primary-gradient-end);
    outline: 1px solid #fff;
}
.component .cards-grid .card:nth-child(2) .link-btn:hover {
    background-color: transparent;
    color: #fff;
}

@media (max-width: 768px) {
    img {
        position: fixed;
    }
    .component h1 {
        padding-top: 3rem;
    }
    .component .toggle-container {
        margin-bottom: 5rem;
    }
    .component .cards-grid .card:nth-child(2) {
        padding: 1.5rem;
    }
    .component .cards-grid {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}